html,
body {
  margin: 0%;
  padding: 0%;
  height: 100%;
  background-color: black;
  box-sizing: border-box;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.boardDiv {
  width: 60vw;
  height: 50vw;
}

.boarderthickness {
  border-style: solid;
  border-width: thick
}

.textMiddle {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center
}

.blockProp {
  top: 50%;
}

.asd {

  vertical-align: middle
}

.center {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: rgb(0 0 0 / .7);
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btnCs {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  background-color: black;
  color: White;
  border: 2px solid White;
}

.btnCs:hover {
  background-color: white;
  /* Green */
  color: black;
}

.btnTextSize {
  font-size: 2vw;
}

.titleTextSize {
  font-size: 5vw;
}

.imageUploaderTextSize {
  font-size: 2vw;
}

.disconnectedTextSize {
  font-size: 2vw;
}

.specialFont {
  font-family: 'Press Start 2P', cursive;
}

.symbolUploaderContainer {
  padding: 1rem;
  color: White;
  border: 2px solid White;
  width: -moz-fit-content;
  height: fit-content;
}

.symbolUploaderContainer:hover {
  background-color: white;
  color: black;
}

.flexy {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttonContainer {
  display: flex;
  flex: 1;
}

.uploadContainer {
  flex: 1;
  display: flex;
  margin: auto;
}

@media only screen and (max-width: 900px) {

  .btnTextSize {
    font-size: 3vw;
  }

  .titleTextSize {
    font-size: 7vw;
  }

  .disconnectedTextSize {
    font-size: 3vw;
  }

  .imageUploaderTextSize {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 660px) {

  .btnTextSize {
    font-size: 3vw;
  }

}


/* Common */

.special-font {
  font-family: 'Press Start 2P', cursive;
}


/* Home Page */

.home-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.title {
  font-size: calc(1rem + 2vw);
}

.play-btn-container {
  display: flex;
  flex: 1;
}

.play-btn {
  font-size: calc(0.5rem + 1vw);
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  background-color: black;
  border: 2px solid White;
  color: white;
}

.play-btn:hover {
  background-color: white;
  color: black;
}

/* Waiting Room */

.waiting-room-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.waiting-room-message {
  font-size: calc(0.5rem + 1vw);
}

/* Board */

.board {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.board-cell-container {
  /* flex: 1; */
  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: calc(80px + 50vw);
  height: calc(80px + 50vw);
  margin: auto;
}

.board-cell {
  background-color: blue;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

/* .canvas-container {
  position: relative;
  width: 80%;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-information {
  font-size: calc(0.5rem + 2.5vw);
}

canvas {
  width: 100%;
  height: 100%;
} */